                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="item-category panel-title pull-left">{{item.category}}</p>
                                                <a class="btn btn-default pull-right" href="{% url 'item_detail' item.id %}">Detail</a>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="item-left-col {% if not item.pics %}nopic{% endif %}">
                                                    <p class="item-photo">
                                                        {% if item.pics %}
                                                        <img src="{{item.pics|first}}">
                                                        {% endif %}
                                                    </p>
                                                    <ul class="item-photo-list">
                                                        {% for pic in item.pics %}
                                                        <li><img src="{{pic}}"></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="item-right-col {% if not item.pics %}nopic{% endif %}">
                                                    <h3 class="item-title {% if not item.pics %}nopic{% endif %}">{{item.name}}</h3>
                                                    {% if item.is_auction %}
                                                    {% if item.bid_log %}
                                                    <span class="item-price {% if not item.pics %}nopic{% endif %}">Current bid: <span>${{item.bid_log.0.price}}</span> by {{item.bid_log.0.bidder.name}}</span><br>
                                                    {% else %}
                                                    <span class="item-price {% if not item.pics %}nopic{% endif %}">Current bid: <span>${{item.price}}</span> by Nobody</span><br>
                                                    {% endif %}
                                                    <span class="item-price {% if not item.pics %}nopic{% endif %}">{{item.end_time|timeuntil}} left ({{item.end_time|date:"m/d/Y H:i"}})</span>
                                                    {% else %}
                                                    <span class="item-price {% if not item.pics %}nopic{% endif %}">Price: <span>${{item.price}}</span></span>
                                                    {% endif %}
                                                    <p class="item-andrew-id {% if not item.pics %}nopic{% endif %}">{{item.seller.name}} posted at {{item.start_time|date:"m/d/Y H:i"}}</p>
                                                    <p class="item-description {% if not item.pics %}nopic{% endif %}">
                                                        {{item.description|linebreaksbr}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
