{% extends 'logged_base.html' %}

{% block main_content %}
        <div id="left-col" class="pull-left">
            <div id="left-nav">
                <h2>My Account</h2>
                <ul>
                    <li><a href="javascript:void(0)" onclick="showTab('#account-info-tab');">Account Info</a></li>
                    <li><a href="javascript:void(0)" onclick="showTab('#trans-hist-tab');">Transaction History</a></li>
                    <li><a href="javascript:void(0)" onclick="showTab('#message-tab');">Messages</a></li>
                    <li><a href="javascript:void(0)" onclick="showTab('#setting-tab');">Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="right-col" class="pull-right container">
            <div class="row">
                <div class="span12">
                    <div id="account-info-tab" class="my-account-tab">
                        <h3>Account Info</h3>
                        <dl>
                            <dt>Username</dt><dd>{{user.username}}</dd>
                            <dt>Email</dt><dd>{{user.email}}</dd>
                            <dt>Registration Time</dt><dd>{{user.date_joined|date:"m/d/Y H:i"}}</dd>
                            <dt>Last Login Time</dt><dd>{{user.last_login|date:"m/d/Y H:i"}}</dd>
                        </dl>
                    </div>

                    <div id="trans-hist-tab" class="my-account-tab" style="display:none;">
                        <h3>Transaction History</h3>
                        <table class="table table-hover">
                            <caption>Items you bought</caption>
                            <tr><th>Item</th><th>Deal Price</th><th>Deal Time</th><th>Recieved Rate</th><th>Rate on Seller</th></tr>
                            {% for transaction in transcations_bought %}
                            <tr><td><a href="{% url 'item_detail' transaction.item.id %}">{{transaction.item.name}}</a></td><td>${{transaction.deal_price|floatformat:2}}</td><td>{{transaction.deal_time|date:"m/d/Y H:i"}}</td><td>{% if transaction.seller_rate %}{{transaction.seller_rate}}/5{% else %}N/A{% endif %}</td><td>{% if transaction.buyer_rate %}{{transaction.buyer_rate}}/5{% elif transaction.is_closed %}<form class="form-rate" action="{% url 'rate' %}" method="post"><input type="hidden" name="itemid" value="{{transaction.item.id}}"><input type="hidden" name="mode" value="rate_on_seller"><input type="hidden" name="rate">{% csrf_token %}<button type="submit" class="btn btn-default btn-xs">Rate Now</button></form>{% else %}N/A{% endif %}</td></tr>
                            {% endfor %}
                        </table>
                        <table class="table table-hover">
                            <caption>Items you sold or are selling</caption>
                            <tr><th>Item</th><th>Deal Price</th><th>Deal Time</th><th>Recieved Rate</th><th>Rate on Buyer</th></tr>
                            {% for transaction in transcations_sold %}
                            <tr><td><a href="{% url 'item_detail' transaction.item.id %}">{{transaction.item.name}}</a></td><td>${{transaction.deal_price|floatformat:2}}</td><td>{{transaction.deal_time|date:"m/d/Y H:i"}}</td><td>{% if transaction.buyer_rate %}{{transaction.buyer_rate}}/5{% else %}N/A{% endif %}</td><td>{% if transaction.seller_rate %}{{transaction.seller_rate}}/5{% elif transaction.is_closed %}<form class="form-rate" action="{% url 'rate' %}" method="post"><input type="hidden" name="itemid" value="{{transaction.item.id}}"><input type="hidden" name="mode" value="rate_on_buyer"><input type="hidden" name="rate">{% csrf_token %}<button type="submit" class="btn btn-default btn-xs">Rate Now</button></form>{% else %}N/A{% endif %}</td></tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div id="message-tab" class="tabbable my-account-tab" style="display:none;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#inbox-panel" data-toggle="tab">Inbox</a>
                            </li>
                            <li>
                                <a href="#outbox-panel" data-toggle="tab">Outbox</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="inbox-panel">
                                <table class="table table-hover">
                                    <tr><th>Title</th><th>Sender</th><th>Time</th><th></th></tr>
                                    {% for message in inbox %}
                                    <tr><td><a href="{% url 'show_message' message.id %}">{{message.title}}</a></td><td>{{message.sender}}</td><td>{{message.time|date:"m/d/Y H:i"}}</td><td><a href="{% url 'delete_message' message.id %}">Delete</a></td></tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="tab-pane" id="outbox-panel">
                                <table class="table table-hover">
                                    <tr><th>Title</th><th>Receiver</th><th>Time</th><th></th></tr>
                                    {% for message in outbox %}
                                    <tr><td><a href="{% url 'show_message' message.id %}">{{message.title}}</a></td><td>{{message.receiver}}</td><td>{{message.time|date:"m/d/Y H:i"}}</td><td><a href="{% url 'delete_message' message.id %}">Delete</a></td></tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="setting-tab" class="my-account-tab" style="display:none;"></div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
{% endblock %}

{% block additional_js %}
<script src="/static/js/rate.js"></script>
<script src="/static/js/my_account_tab_ctrl.js"></script>
{% endblock %}
