{% extends 'logged_base.html' %}

{% block main_content %}
        <div id="left-col" class="pull-left">
            <div id="left-nav">
                <h2>My Account</h2>
                <ul>
                    <li><a href="#">Account Info</a></li>
                    <li><a href="#">Transaction History</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div id="right-col" class="pull-right container">
            <div class="row">
                <div class="span12">
                    <div id="account-info-tab" class="my-account-tab" style="display:none;"></div>

                    <div id="trans-hist-tab" class="my-account-tab">
                        <h3>Transaction History</h3>
                        <table class="table table-hover">
                            <caption>Items you bought</caption>
                            <tr><th>Item</th><th>Deal Price</th><th>Deal Time</th><th>Recieved Rate</th><th>Rate on Seller</th></tr>
                            {% for transaction in transcations_bought %}
                            <tr><td><a href="{% url 'item_detail' transaction.item.id %}">{{transaction.item.name}}</a></td><td>${{transaction.deal_price|floatformat:2}}</td><td>{{transaction.deal_time|date:"m/d/Y H:i"}}</td><td>{% if transaction.seller_rate %}{{transaction.seller_rate}}/5{% else %}N/A{% endif %}</td><td>{% if transaction.buyer_rate %}{{transaction.buyer_rate}}/5{% elif transaction.is_closed %}<button class="btn btn-default btn-xs">Rate Now</button>{% else %}N/A{% endif %}</td></tr>
                            {% endfor %}
                        </table>
                        <table class="table table-hover">
                            <caption>Items you sold or are selling</caption>
                            <tr><th>Item</th><th>Deal Price</th><th>Deal Time</th><th>Recieved Rate</th><th>Rate on Buyer</th></tr>
                            {% for transaction in transcations_sold %}
                            <tr><td><a href="{% url 'item_detail' transaction.item.id %}">{{transaction.item.name}}</a></td><td>${{transaction.deal_price|floatformat:2}}</td><td>{{transaction.deal_time|date:"m/d/Y H:i"}}</td><td>{% if transaction.buyer_rate %}{{transaction.buyer_rate}}/5{% else %}N/A{% endif %}</td><td>{% if transaction.seller_rate %}{{transaction.seller_rate}}/5{% elif transaction.is_closed %}<button class="btn btn-default btn-xs">Rate Now</button>{% else %}N/A{% endif %}</td></tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div id="setting-tab" class="my-account-tab" style="display:none;"></div>

                    <div id="message-tab" class="tabbable my-account-tab" style="display:none;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#inbox-panel" data-toggle="tab">Inbox</a>
                            </li>
                            <li>
                                <a href="#outbox-panel" data-toggle="tab">Outbox</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="inbox-panel">
                                <p>
                                    Under Construction
                                </p>
                            </div>
                            <div class="tab-pane" id="outbox-panel">
                                <p>
                                    Under Construction
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
{% endblock %}
